@import '../mixins.scss';
@import '../variables.scss';

.card {
  background-color: $card-bg;
  box-shadow: $card-shadow;
  padding-bottom: 39px;

  &__heading {
    // width: 354px;
    width: 100%;
    height: 52px;
    @include for-phone-only {
      margin-bottom: 45px;
    }

    &-logo {
      max-width: 184px;
      height: 100%;
      background-color: $card-logo-bg;
      background-image: url('../../images//logo.png');
      background-position: center;
      background-repeat: no-repeat;
      //   padding: 18px 22px 20px 24px;
    }
  }

  &__content-description {
    margin: 0;
    padding: 0 15px;
  }

  &__content-gallery {
    padding: 0 33px;
  }
}

.description {
  margin-bottom: 29px;
}

.model {
  display: block;
  color: $card-model-fc;
  font-size: 12px;
  font-weight: 300;
  // line-height: 2.92;
  letter-spacing: 1.2px;
  margin-bottom: 24px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  max-width: 62%;
  color: $card-main-fc;
  margin-bottom: 30px;
}

.about {
  font-size: 14px;
  line-height: 1.64;
  letter-spacing: 0.35px;
  width: 93%;
}

.score {
  display: flex;
  flex-wrap: wrap;
  vertical-align: baseline;
  margin-bottom: 25px;
}

.circles {
  padding-top: 2px;
  min-width: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 15px;
}

.circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  list-style: none;
  background-color: $card-ranking-circles;
}

.circle:last-child {
  background-color: #cccccc;
}

.rank {
  font-size: 15px;
  margin-right: 5px;
  color: $card-price-fc;
}

.reviews {
  padding-top: 1px;
  font-size: 13px;
  letter-spacing: 0.33px;
  color: $card-model-fc;
}

.price-colors {
  width: 100%;
  max-height: 52px;
  display: flex;
  font-weight: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}

.price {
  font-size: 26px;
  font-weight: 700;
  padding-top: 14px;
  color: $card-price-fc;
}

.color-text {
  display: block;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: $card-main-fc;
  margin-bottom: 16px;
}

.color-buttons {
  display: flex;
  justify-content: flex-end;
}

.colors {
  border: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #e8e6e3;

  &:not(:last-of-type) {
    border: solid 2px #ffffff;
    box-shadow: 0 0 4px 1px $main-bg;
    background-color: #3c383a;
    margin-right: 11px;
  }
}

.quantity-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 46px;
  margin-bottom: 44px;
}

.add-button {
  line-height: 46px;
  letter-spacing: 0.43px;
  min-width: 147px;
  border: none;
  color: $card-btn-fc;
  background-color: $card-button-bg;
}

.quantity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &-text {
    color: #333333;
    font-size: 13px;
    margin-right: 9px;
  }

  &-counter {
    border: 1px solid rgba(187, 187, 187, 0.5);
    width: 52px;
    height: 100%;
    text-align: center;
    padding-top: 13px;
    margin-right: 11px;
  }
}

.number {
  font-size: 18px;
  color: #333333;
}

.arrows {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 10px;
}

.arrow-up,
.arrow-down {
  border: none;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-up {
  background: url('../../images/angle-up-solid.svg');
}

.arrow-down {
  background: url('../../images/angle-down-solid.svg');
}

.glide {
  margin-bottom: 61px;
}

.glide__slide {
  width: 100%;
  text-align: center;
}

.glide__img {
  max-width: 288px;
  max-height: 360px;
}

.card__gallery-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 24%;
  min-height: 16px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.arrow-left,
.arrow-right {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  min-height: 16px;
  width: 12%;
}

.arrow-left {
  background-position: left;
  background-image: url('../../images/arrow-left.svg');
}

.hand {
  width: 23%;
  display: block;
  background-image: url('../../images/hand.png');
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-right {
  background-position: right;
  background-image: url('../../images/arrow-right.svg');
}

.card__gallery-slides {
  margin: 0 auto;
  width: 22%;
}

.slide:first-child {
  background-color: #536dfe;
}

.slide {
  border: none;
  background-color: #cccccc;
  height: 3px;
  width: 28%;
}
