<li class="sidebar__item">
    <button class="sidebar__item-btn"></button>
    <img class="sidebar__item-img">
    <h4 class="sidebar__item-name">{{NAME}}</h4>
    <Price class="sidebar__item-price">{{RPICE}}</Price>
    <div class="quantity__counter">
        <span class="quantity__counter-number js-number">01</span>
    </div>
    <div class="quantity__arrow">
        <button class="quantity__arrow-up" data-action="increment"></button>
        <button class="quantity__arrow-down" data-action="decrement"></button>
    </div>
</li>