<div class="price__color">
    <span class="price__text">Choose your colors:</span>
    <div class="price__buttons">
        <button class="price__button"></button>
        <button class="price__button"></button>
    </div>
</div>