%background-img {
  background-repeat: no-repeat;
  background-color: transparent;
}

%flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

%flex-wrap-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

%border-none {
  border: none;
}
