$main-bg: #393dce;
$main-font: 'Roboto', sans-serif;
// background color
$card-bg: #fff;
$card-logo-bg: #272727;
$card-button-bg: #536dfe;
$card-ranking-circles: #fccf47;
$card-shadow: 4px 6.9px 18px 0 #0d1333;
// font color
$card-main-fc: #333333;
$card-model-fc: #818181;
$card-price-fc: #f1425d;
$card-btn-fc: #fff;
